* {
    margin: 0 auto;
    padding: 0;
}
a {
    color: #2b2929;
    text-decoration: none;
}

html, body {
  background: #f9f9f9
}
html {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}
.hello {
stroke-width: 1px;
stroke-dasharray: 1000;
animation: 5s write;
}
@keyframes write {
  0% {
      stroke-dashoffset: 1000;
      fill:#fff
  }
  100% {
      stroke-dashoffset: 0;
      fill:#000;
  }
}

.box {
    flex-grow: 1!important;
}
.size {
    width: 90%;
}
.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start!important;
    align-items: stretch!important;
    align-content: space-around;!important;
}
.flex-item {
    flex-grow: 1;
}
.portfolio {
    background: #fff;
    width: 400px;
    max-width: 100%;
    max-height: 400px;
    text-align: center;
    overflow: hidden;
    margin-bottom: 5px;
}
.portfolio-titulo {
    width: 300px;
    margin-bottom: 25px;
    text-align: left;
    transition: 2s;
}
.portfolio-titulo h2 {
    color: #383535;
    opacity: 0.8;
    font-size: 14px;
    padding-top: 5px;
    margin: 0;
    line-height: 0;
}
.portfolio-titulo time {
    opacity: 0.7;
    font-size: 10px;
    line-height: 0;
}

.portfolio-img {
    width: 100%;
    transition: 0.5s
}

.portfolio-img:hover {
}

.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 12px;
    background: #1DA1F2;
    color: #fff
}

.linksi {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 12px;
  background: #fff;
  color: #000;
  margin-top: 50px;
}

.menu-rel {
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 70px;
    margin: 0 auto
}
.menu {
    background: #fff;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: no-wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    border-bottom: 1px solid #eae8e8
}
.menusvg {
  width: 100%;
  padding-left: 80%;
  opacity: 0.7;
  z-index: 9
}
.menu-hamburguer {
    max-height: 100%;

}
.menu-hamburguer img {
    width: 100%;
    height: 30px;
}
.fundo-cor-degrade-roxo {
    background: -webkit-linear-gradient(left, #584b88, #ae4bcf);
    background: -o-linear-gradient(right, #584b88, #ae4bcf);
    background: -moz-linear-gradient(right, #584b88, #ae4bcf);
    background: linear-gradient(to right, #584b88, #ae4bcf);
    width: 100%;
    min-height: 100%;
}
.menu-opcoes {
    flex-grow: 1;
}
.menu-logo {
    flex-grow: 1;
    margin-left: 5%;
}
.menu-logo a{
    font-weight: 900
}
.classe-logo {
    width: 80px;
    opacity: 0.7;
}
.menu-principal {
    flex-grow: 10;
}
.menu-principal ul {
    width: 90%;
    text-align: right;
}
.menu-principal ul li {
    display: inline-block;
}
.menu-principal ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #383535;
    transition: 0.5s;
    font-size: 14px;
    font-weight: 900;
    margin-left: 10px;
}
.menu-principal ul li a:hover,
.menu-principal ul li a:focus {
    color: #1DA1F2;
    border-color: #1DA1F2!important;
    text-shadow: none
}
.menu-label {
    font-size: 1em;
    cursor: pointer;
    display: inline-block;
    transition: 1s;
    z-index: 99;
}
.menu-input {
    display: none;
    transition: 1s;
}
.fundo-menu {
    background: #ccc;
    transition: 1s;
}
.menu-content {
    width: 100%;
    height: 90%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: 1s;
    top: 50px;
}
.menu-input:not(checked) ~ .menu-content {
    display: none;
    transition: 1s;
}
.menu-input:checked ~ .menu-content {
    display: block;
    transition: 1s;
}
.menu-list {
    text-align: center;
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.9);
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
}
.menu-list-item {
    flex-grow: 1;
    margin: 0;
    padding: 0;
}
.menu-list-item a {
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 900;
    font-size: 12px;
    text-decoration: none;
    transition: 0.6s;
    text-transform: uppercase;
}
.menu-list-item a:hover,
.menu-list-item a:focus {
    font-size: 44px;
}
.fechar-lado {
    text-align: right;
}
.fechar {
    color: #fff;
    border: none;
    background: transparent;
    font-size: 22px;
    padding: 1% 3%;
    border-radius: 10px;
    transition: 1s;
    width: 40px;
    height: 40px;
    background: #1DA1F2;
    border-radius: 50%;
    margin-top: 10px;
      margin-right: 10px;
}

.fechar:focus,
.fechar:hover {
  font-size: 24px!important
}

.fundo-teste2 {
    background: #fff;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.fundo-teste2 p {
    font-family: 'Bree Serif', serif;
    text-align: center;
    font-size: 22px;
    opacity: 0.5;
    transition: 1s
}
.fundo-teste2 p:hover {
    opacity: 1
}
.fundo-teste2 a {
    font-family: 'Bree Serif', serif;
    font-size: 22px;
    text-decoration: none
}
.botao-menu-atencao {
    border: 1px solid #754ba0;
    width: 100px!important;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    color: #fff!important;
    transition: 1s;
    border-radius: 10px;
    text-align: center;
    background-color: #754BA0;
    background: linear-gradient(to right, #584b88, #ae4bcf);
    cursor: pointer;
    font-weight: 500!important
}
.botao-menu-atencao:hover,
.botao-menu-atencao:focus {
    background: #584b88!important
}

.content {
	width: 90%;
	}

.comments {
	padding-top: 50px;
}

.post {
    padding-top: 30px;
    text-align: center
}

.post-title {
	padding-bottom: 10px;
    display: inline-block;

}
.post-date{
    font-size: 14px;
    opacity: 0.7;
    padding: 0;
    margin:0;
    display: inline-block;
}

.left {
  float: left;
}

.right {
  float: right;

}

.compartilhar {
	width: 100%;

	padding-top: 50px;
	padding-bottom: 50px;
}

.tags {
	padding-top: 0px;
	padding-bottom: 20px;
	font-size: 16px;
}

.behan {
  padding-bottom: 10px;
}

.tags span{
	text-decoration: underline;
	padding-right: 5px;
	font-size: 14px;
}

.port {
    width:700px;
    max-width: 100%;
}

.port img{
    width: 100%;
}

.categoria {
  padding-bottom: 10px;
}

.titulo-categoria {
  width: 100%;
  text-align: left;
  font-size: 20px;
  padding-bottom: 10px;
  opacity: 0.9;
}

.flecha {
  width: 8px;
}

.twitter-share-button {
  margin-top: 20px;
}

.ptopo {
  padding-top: 20px;
  background: #fff;
  display:flex;
  border-radius: 4px;
}

.ptopo1 {
  flex-grow: 1;
  flex-basis: 300px;
  justify-content:space-around;
  align-items:flex-start;
  align-content:center;
}

.ptopo-foto {
  background:url(../images/eu.jpg) 100%;
  background-size: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #9b9999;
  box-shadow: 1px 1px 5px 0px #7c7b7b
}

.ptopo2 {
  flex-grow: 12!important;
  flex-basis: 300px;
  justify-content:space-around;
  align-items:flex-start;
  align-content:center;
}

.topo-rs {
  text-align: left;
}

.topo-rs a{

}

.xp {
  display: flex;
  flex-wrap:nowrap
}

.xpp {
  width: 30%;
  text-align: right;
}

.xppp {
  width: 70%;
  text-align: left!important;
  margin-left: 10px
}

.xppp ul{
  list-style-type: none
}

.xppp ul li{
  display: inline-block;
}

.exp {
  width: 95%;
  float: left;
  padding-bottom: 20px;
}

.exp-titulo {
  font-weight: 900;
  padding-bottom: 20px;
  width: 100%;
  display: block;
  padding-bottom: 50px;

}
.ptopo-titulo {
  text-align: left;
  color: #666666;
}

hr {
  background: #000;
  border-color: #000;
  width: 95%;
  float: left;
  opacity: 0.7
}

.exp-cont-titulo data{
  font-size: 10px;
}
.h {
  margin-bottom: 20px;
}

.exp-cont-titulo {
  color: #666666;
  font-weight: bold;
  padding-bottom: 5px;
}

.exp-cont {
  padding-bottom: 20px;
}

.exp-cont p{
  font-size: 14px;
  opacity: 0.7
}

.exp-cont span{
  display: block;
  font-size: 10px;
  text-transform: uppercase;
}

.skills {
  padding-bottom: 50px;
}

.nuvem {
  width: 300px;
  max-width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #666666
}

.exe {
  font-size: 18px;
    font-weight: 900
}

.me {
  font-size: 12px;
    font-weight: 900
}

.po {
  font-size: 9px;
    font-weight: 900
}

.alinha {
  width: 90%;
}

.sobre {
  margin-bottom: 50px;
  font-size: 14px;
}

.localcont {
  font-size: 20px!important;
  width:150px;
  float: left;
}

.projetos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: 300px;
  justify-content:center;
  align-items:center;
  align-content:center;
}

.proj {
  flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.proj-img {
  width: 80px;
  height: 80px;
  border: 2px solid #7c7c7c;
  border-radius: 50%;
}

.proj-nome {
  font-size: 14px;
  font-weight: 900;
  line-height: 0.8;
  padding-top: 10px;
  color: #7c7c7c
}

.proj-nome span{
  font-size: 10px;
  font-weight: 900;
  opacity: 0.5;
  line-height: 0;
}

.in {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
}

.in label {
  color: #474646;
  font-weight: 500
}

.encontre {
  padding-top: 10px;
  font-weight: 0
}

.tbm {
  text-align: center;
  font-weight: 900;
  color:#474646;
  padding-top: 20px;
  padding-bottom: 20px;
}

form {
  width: 100%!important;
  margin: 0 auto!important;
  padding: 0!important
}

.inpt {
  width: 100%;
  font-size: 16px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 5px;
  text-align: center;
  border: 1px solid #eae8e8;
  border-radius: 3px;
  color: #828080!important;
  font-weight:200!important
}

.inpt:focus {
  border-color: #1DA1F2;
  box-shadow: none;
  outline: none
}

.tex {
  padding-top: 20px!important;
  min-height: 100px;
}

.btn {
  background: #1DA1F2!important;
  border-radius:3px!important;
  border:none;
  height: 50px!important;
  margin: 0 auto;
  font-size: 22px;
  color: #fff;
  width: 100%!important;
}

.btn:hover,
.btn:focus {
  background: #1a8acc;

}

.bcor {
  background: #1DA1F2;
  float: left;
  display: block;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px
}

.dados {
  background: #fff;
  border-radius: 3px;
  width:600px;
  max-width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #eae8e8
}

.lefc {
  text-align: left!important;
}

.lefcc {
  text-align: left!important;
  margin-left: -20px;
}

.dadosi {
  background: #fff;
  border-radius: 3px;
  width:90%;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.dados-tit {
  width: 100%;
  text-align: center;
  color: #474646!important;
}

.dados-tit ul{
  list-style-type: none;
  margin-left: 20px;
  padding-top: 20px;
}

.dados-tit ul li{
  display: inline-block;
  margin-right: 20px;
}

.dados-tit ul li img{
  width: 20px;
  height: 20px;
}

.curri {
  border:2px solid #1DA1F2;
  background: #1DA1F2;
  color: #fff!important;
  padding: 5px 10px;
  border-radius: 3px;
}

.curri:focus,
.curri:hover {
  border:2px solid #1a8acc!important;
  background:#1a8acc!important;
  color: #fff!important
}

.rel {
  position: relative;
  text-align: center;
}

.portitu {
  position: absolute;
  top:0;
  z-index: 2;
  text-align: center!important;
  color: #fff;
  font-size: 22px;
  width: 100%;
  height: 100%;
  padding-top: 50%;
  display: none;
  background: rgba(0, 0, 0, 0.8);
  font-weight: 900;
  transition: 1s
}

.portfolio:hover .portitu {
  display: block;
}

.well {
  width: 90%;

}

.beh {
  width: 20px!important;
}

.post-list {
  width: 90%;
  background: #fff;
  list-style-type: none!important;
  padding-top: 10px;
  padding-top: 10px;
  text-align: center;
  display: inline-block!important;
  font-size: 16px;
}



.post-list li{
  list-style-type: none!important;
  display: inline-block!important;

}

@media only screen and (max-width: 700px) {
  .menu-principal ul {
      display: none;
  }
  .menusvg {
    width: 100%;
    padding-left: 0;
  }

  .menu-logo {
      margin-left:0;
      margin-right: 5%;
      text-align: right;
      width: 100%;
  }

  .menu-rel {
    height: 50px;
  }
  .menusvg {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .btn {
    width: 90%;
  }
  .inpt {
    padding: 0;
    margin: 0 auto;
    width: 90%;
    text-align: center;

  }
	.size {
        width: 100%;
    }
    .portfolio {
        width: 100%;
        height: 370px;
        margin: 0 auto;
        margin-bottom: 5px;
        border: none;
    }
    .portoflio-titulo {
        width: 98%;
        padding-left: 2px;
    }
    .menu {
        width: 100%;
        background: #fff!important
    }
    .menu-rel {
        width: 100%;
    }

    .menu-list {
        background: rgba(0, 0, 0, 1);
    }
    .menu-list-item a {
        font-size: 20px!important;
    }
    .menu-list-item a:hover,
    .menu-list-item a:focus {
        font-size: 22px!important;
        color: #1DA1F2!important
    }

    .portfolio-titulo {
        width: 98%;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  .portfolio {
      width: 300px;
      max-width: 100%;
      max-height: 300px;
      text-align: center;
      overflow: hidden;
      margin-bottom: 5px;
  }
}
