---
layout: default
---
<!--{% include posts-normal.html %}-->
<div class="flex-container size dadosi">
	<div class="ptopo-foto">
	</div>
	<div class="dados-tit">
		<h2>Gustavo Henrique Quinalha</h2>
		<span class="demail"><a href="mailto:gusquinalha@gmail.com">gusquinalha@gmail.com</a></span><br>
		<div class="encontre">Me encontre nas redes sociais:</div>
		<ul>
			<li><a href="https://github.com/gustavoquinalha/" target="_blank"><img src="../images/git.svg" alt=""></a></li>
			<li><a href="http://codepen.io/gustavoquinalha/" target="_blank"><img src="../images/codepen.svg" alt=""></a></li>
			<li><a href="https://www.behance.net/gustavoquinalha" target="_blank"><img src="../images/behance.svg" alt=""></a></li>
			<li><a href="https://br.linkedin.com/in/gustavo-quinalha-2a6b83101" target="_blank"><img src="../images/linkedin.svg" alt=""></a></li>
			<li><a href="https://www.facebook.com/gquinalha" target="_blank"><img src="../images/facebook.svg" alt=""></a></li>
			<li><a href="https://twitter.com/gustavoquinalha" target="_blank"><img src="../images/twitter.svg" alt=""></a></li>
		</ul>
	</div>
</div>
{% include categorias.html %}
