---
layout: default
---

<div class="flex-container size">
	{% if site.posts.size == 0 %}
	<h2>No posts found :(</h2>
	{% else %}
	{% for post in site.posts %}
	
	<div class="flex-item">
		<div class="portoflio">
			<img src="images/pa.jpg" class="portfolio-img">
		</div>
		<div class="portoflio-titulo">
			<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
		</div>
		
		<!--<div class="">
			<time>{{ post.date | date_to_string }}</time>
		</div>-->
	</div>

	

	{% endfor %}
	{% endif %}
</div>
