
		{% comment %}
	=======================
	The following part extracts all the tags from your posts and sort tags, so that you do not need to manually collect your tags to a place.
	=======================
	{% endcomment %}
	{% assign rawtags = "" %}
	{% for post in site.posts %}
		{% assign ttags = post.tags | join:'|' | append:'|' %}
		{% assign rawtags = rawtags | append:ttags %}
	{% endfor %}
	{% assign rawtags = rawtags | split:'|' | sort %}

	{% comment %}
	=======================
	The following part removes dulpicated tags and invalid tags like blank tag.
	=======================
	{% endcomment %}
	{% assign tags = "" %}
	{% for tag in rawtags %}
		{% if tag != "" %}
			{% if tags == "" %}
				{% assign tags = tag | split:'|' %}
			{% endif %}
			{% unless tags contains tag %}
				{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
			{% endunless %}
		{% endif %}
	{% endfor %}





		{% for tag in tags %}
		<div class="categoria">
		<div class="flex-container size">
			<h2 class="titulo-categoria" id="{{ tag | slugify }}"><img src="images/flecha.svg" alt="" class="flecha"> {{ tag }}</h2>
		</div>
		<div class="flex-container size categoria">
		 {% for post in site.posts %}
			 {% if post.tags contains tag %}
			 <div class="flex-item">
		 		<a href="{{ post.url | prepend: site.baseurl }}">
		 		<div class="portfolio">
		 			<img src="images/{{ post.image }}" class="portfolio-img" alt="{{ post.title }}" title="{{ post.title }}">
		 		</div>
		 		<div class="portfolio-titulo">
		 			<h2>{{ post.title }}</h2>
		 			<time>{{ post.date | date_to_string }}</time>
		 		</div>
		 		</a>

		 	</div>
			 {% endif %}
		 {% endfor %}
		 </div>
		{% endfor %}
		</div>



		<div class="flex-container size ptopo">
			<div class="ptopo1">
				<div class="ptopo-foto">

				</div>
			</div>

			<div class="ptopo1 ptopo2">
				<div class="ptopo-titulo">
						<h1>Gustavo Henrique Quinalha</h1>
						<span>UI/UX Designer & Graphic Design</span>
				</div>
				<div class="topo-rs">
					<a href="#">a</a>
					<a href="#">b</a>
					<a href="#">c</a>
					<a href="#">d</a>
					<a href="#">e</a>
					<a href="#">f</a>
				</div>
			</div>
		</div>

		<div class="flex-container size ptopo">
			<div class="ptopo1">
				<div class="alinha">
					<div class="sobre">
						"Sou desenvolvedor web desde moleque, sempre fui apaixonado por códigos e pela família Adobe! Atualmente trabalho em uma empresa de marketing digital e outra de estratégias visuais, desenvolvo web sites para ambas."
					</div>

					<div class="skills">
						<div class="exp-titulo">
							IDIOMAS<hr>
						</div>
						<div class="xp">
							<div class="xpp">
								Português
							</div>
							<div class="xpp xppp">
								<ul>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
								</ul>
							</div>
						</div>
						<div class="xp">
							<div class="xpp">
								Inglês
							</div>
							<div class="xpp xppp">
								<ul>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bb.svg" alt=""></li>
									<li><img src="images/bb.svg" alt=""></li>
								</ul>
							</div>
						</div>
						<div class="xp">
							<div class="xpp">
								Espanhol
							</div>
							<div class="xpp xppp">
								<ul>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bb.svg" alt=""></li>
									<li><img src="images/bb.svg" alt=""></li>
									<li><img src="images/bb.svg" alt=""></li>
									<li><img src="images/bb.svg" alt=""></li>
									<li><img src="images/bb.svg" alt=""></li>
								</ul>
							</div>
						</div>

					</div>


					<div class="skills">
						<div class="exp-titulo">
							SKILLS<hr>
						</div>
						<div class="xp">
							<div class="xpp">
								HTML
							</div>
							<div class="xpp xppp">
								<ul>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
								</ul>
							</div>
						</div>
						<div class="xp">
							<div class="xpp">
								CSS
							</div>
							<div class="xpp xppp">
								<ul>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
								</ul>
							</div>
						</div>
						<div class="xp">
							<div class="xpp">
								Illustrator
							</div>
							<div class="xpp xppp">
								<ul>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
								</ul>
							</div>
						</div>
						<div class="xp">
							<div class="xpp">
								Photoshop
							</div>
							<div class="xpp xppp">
								<ul>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
								</ul>
							</div>
						</div>
						<div class="xp">
							<div class="xpp">
								jQuery
							</div>
							<div class="xpp xppp">
								<ul>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bb.svg" alt=""></li>
									<li><img src="images/bb.svg" alt=""></li>
									<li><img src="images/bb.svg" alt=""></li>
									<li><img src="images/bb.svg" alt=""></li>
									<li><img src="images/bb.svg" alt=""></li>
									<li><img src="images/bb.svg" alt=""></li>
								</ul>
							</div>
						</div>
						<div class="xp">
							<div class="xpp">
								PHP
							</div>
							<div class="xpp xppp">
								<ul>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bb.svg" alt=""></li>
									<li><img src="images/bb.svg" alt=""></li>
									<li><img src="images/bb.svg" alt=""></li>
									<li><img src="images/bb.svg" alt=""></li>
									<li><img src="images/bb.svg" alt=""></li>
									<li><img src="images/bb.svg" alt=""></li>
									<li><img src="images/bb.svg" alt=""></li>
								</ul>
							</div>
						</div>
						<div class="xp">
							<div class="xpp">
								Angular
							</div>
							<div class="xpp xppp">
								<ul>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bb.svg" alt=""></li>
									<li><img src="images/bb.svg" alt=""></li>
									<li><img src="images/bb.svg" alt=""></li>
									<li><img src="images/bb.svg" alt=""></li>
									<li><img src="images/bb.svg" alt=""></li>
									<li><img src="images/bb.svg" alt=""></li>
									<li><img src="images/bb.svg" alt=""></li>
									<li><img src="images/bb.svg" alt=""></li>
								</ul>
							</div>
						</div>
						<div class="xp">
							<div class="xpp">
								JS
							</div>
							<div class="xpp xppp">
								<ul>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bf.svg" alt=""></li>
									<li><img src="images/bb.svg" alt=""></li>
									<li><img src="images/bb.svg" alt=""></li>
									<li><img src="images/bb.svg" alt=""></li>
									<li><img src="images/bb.svg" alt=""></li>
									<li><img src="images/bb.svg" alt=""></li>
									<li><img src="images/bb.svg" alt=""></li>
									<li><img src="images/bb.svg" alt=""></li>
									<li><img src="images/bb.svg" alt=""></li>
								</ul>
							</div>
						</div>
					</div>







				<div class="nuvem">
					<span class="exe">HTML</span>
					<span class="exe">CSS</span>
					<span class="exe">Photoshop</span>
					<span class="exe">Illustrator</span>
					<span class="exe">UI/UX</span>
					<span class="exe">Responsividade</span>
					<span class="exe">SVG</span>
					<span class="me">Angular</span>
					<span class="me">API</span>
					<span class="me">SQL</span>
					<span class="me">SASS</span>
					<span class="po">React</span>
					<span class="po">NODE</span>
				</div>

</div>
	</div>
			<div class="ptopo1 ptopo2">
				<div class="exp">
					<div class="exp-titulo">
						EXPERIÊCIA<hr>
					</div>
					<div class="exp-cont">
						<div class="exp-cont-titulo">
							Freelancer <data>2015-2016</data>
							<span>Web designer</span>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>

					<div class="exp-cont">
						<div class="exp-cont-titulo">
							Beeuz <data>2015-2016</data>
							<span>Web designer</span>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>

					<div class="exp-cont">
						<div class="exp-cont-titulo">
							Web Space <data>2015-2016</data>
							<span>Web designer</span>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>

				</div>


				<div class="exp">
					<div class="exp-titulo">
						EDUCAÇÃO<hr>
					</div>
					<div class="exp-cont">
						<div class="exp-cont-titulo">
							Web Space <data>2015-2016</data>
							<span>Web designer</span>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>

					<div class="exp-cont">
						<div class="exp-cont-titulo">
							Web Space <data>2015-2016</data>
							<span>Web designer</span>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>

					<div class="exp-cont">
						<div class="exp-cont-titulo">
							Web Space <data>2015-2016</data>
							<span>Web designer</span>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>

				</div>
				<div class="exp">
					<div class="exp-titulo">
						PREMIAÇÕES<hr>
					</div>
					<div class="exp-cont">
						<div class="exp-cont-titulo">
							Web Space <data>2015-2016</data>
							<span>Web designer</span>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>


				</div>



			</div>
		</div>
