
{% comment %}
=======================
The following part extracts all the tags from your posts and sort tags, so that you do not need to manually collect your tags to a place.
=======================
{% endcomment %}
{% assign rawtags = "" %}
{% for post in site.posts %}
{% assign ttags = post.tags | join:'|' | append:'|' %}
{% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% comment %}
=======================
The following part removes dulpicated tags and invalid tags like blank tag.
=======================
{% endcomment %}
{% assign tags = "" %}
{% for tag in rawtags %}
{% if tag != "" %}
{% if tags == "" %}
{% assign tags = tag | split:'|' %}
{% endif %}
{% unless tags contains tag %}
{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
{% endunless %}
{% endif %}
{% endfor %}





{% for tag in tags %}
<div class="categoria">
	<div class="flex-container size">
		<h2 class="titulo-categoria" id="{{ tag | slugify }}"><img src="images/flecha.svg" alt="" class="flecha"> {{ tag }}</h2>
	</div>
	<div class="flex-container size categoria">
		{% for post in site.posts %}
		{% if post.tags contains tag %}
		<div class="flex-item">
			<a href="{{ post.url | prepend: site.baseurl }}">
				<div class="portfolio">
					<img src="images/{{ post.image }}" class="portfolio-img" alt="{{ post.title }}" title="{{ post.title }}">
				</div>
				<div class="portfolio-titulo">
					<h2>{{ post.title }}</h2>
					<time>{{ post.date | date_to_string }}</time>
				</div>
			</a>

		</div>
		{% endif %}
		{% endfor %}
	</div>
	{% endfor %}
</div>

<div class="flex-container size dados">
	<div class="ptopo-foto">
	</div>
	<div class="dados-tit">
		<h2>Gustavo Henrique Quinalha</h2>
		<span class="demail"><a href="mailto:gusquinalha@gmail.com">gusquinalha@gmail.com</a></span><br>
		<div class="encontre">Me encontre nas redes sociais:</div>
		<ul>
			<li><a href="https://github.com/gustavoquinalha/" target="_blank"><img src="../images/git.svg" alt=""></a></li>
			<li><a href="http://codepen.io/gustavoquinalha/" target="_blank"><img src="../images/codepen.svg" alt=""></a></li>
			<li><a href="https://www.behance.net/gustavoquinalha" target="_blank"><img src="../images/behance.svg" alt=""></a></li>
			<li><a href="https://br.linkedin.com/in/gustavo-quinalha-2a6b83101" target="_blank"><img src="../images/linkedin.svg" alt=""></a></li>
			<li><a href="https://www.facebook.com/gquinalha" target="_blank"><img src="../images/facebook.svg" alt=""></a></li>
			<li><a href="https://twitter.com/gustavoquinalha" target="_blank"><img src="../images/twitter.svg" alt=""></a></li>
		</ul>
	</div>
</div>
<div class="tbm">
	<span>Se preferir pode mandar uma mensagem :)</span>
</div>
<div class="flex-container size contato">
	<form method="POST" action="https://simple-form.com/gustavo_quinalha@hotmail.com">
		<div class="in">
			<input type="text" name="name" class="inpt" placeholder="Digite seu nome"/>
		</div>
		<div class="in">
			<input type="email" name="replyTo" class="inpt" placeholder="Digite seu email"/>
		</div>
		<div class="in">
			<textarea name="message" class="inpt tex" placeholder="Digite sua mensagem"></textarea>
		</div>
		<div class="in">
			<input type="submit" value="Enviar" class="btn" />
		</div>
</form>
</div>
