<div class="flex-container size dados">
	<div class="ptopo-foto">
	</div>
	<div class="dados-tit">
		<h2>Gustavo Henrique Quinalha</h2>
		<span class="demail"><a href="mailto:gusquinalha@gmail.com">gusquinalha@gmail.com</a></span><br>
		<ul>
			<li><a href="https://github.com/gustavoquinalha/" target="_blank"><img src="../images/git.svg" alt=""></a></li>
			<li><a href="http://codepen.io/gustavoquinalha/" target="_blank"><img src="../images/codepen.svg" alt=""></a></li>
			<li><a href="https://www.behance.net/gustavoquinalha" target="_blank"><img src="../images/behance.svg" alt=""></a></li>
			<li><a href="https://br.linkedin.com/in/gustavo-quinalha-2a6b83101" target="_blank"><img src="../images/linkedin.svg" alt=""></a></li>
			<li><a href="https://www.facebook.com/gquinalha" target="_blank"><img src="../images/facebook.svg" alt=""></a></li>
			<li><a href="https://twitter.com/gustavoquinalha" target="_blank"><img src="../images/twitter.svg" alt=""></a></li>
		</ul>
	</div>
	<div class="flex-container size contato">
		<form method="POST" action="https://simple-form.com/gustavo_quinalha@hotmail.com">
			<div class="in">
				<input type="text" name="name" class="inpt" placeholder="Digite seu nome"/>
			</div>
			<div class="in">
				<input type="email" name="replyTo" class="inpt" placeholder="Digite seu email"/>
			</div>
			<div class="in">
				<textarea name="message" class="inpt tex" placeholder="Digite sua mensagem"></textarea>
			</div>

	<div class="in">
	<input type="submit" value="Enviar" class="btn" />
	</div>
	</form>
	</div>
</div>
