<div class="flex-container size ptopo">
  <div class="ptopo1">
    <div class="ptopo-foto">

    </div>
  </div>

  <div class="ptopo1 ptopo2">
    <div class="ptopo-titulo">
        <h1>Gustavo Henrique Quinalha</h1>
        <span>UI/UX Designer & Graphic Design</span>
    </div>
    <div class="topo-rs">
      <div class="dados-tit lefcc">
        <ul>
    			<li><a href="https://github.com/gustavoquinalha/" target="_blank"><img src="../images/git.svg" alt=""></a></li>
    			<li><a href="http://codepen.io/gustavoquinalha/" target="_blank"><img src="../images/codepen.svg" alt=""></a></li>
    			<li><a href="https://www.behance.net/gustavoquinalha" target="_blank"><img src="../images/behance.svg" alt=""></a></li>
    			<li><a href="https://br.linkedin.com/in/gustavo-quinalha-2a6b83101" target="_blank"><img src="../images/linkedin.svg" alt=""></a></li>
    			<li><a href="https://www.facebook.com/gquinalha" target="_blank"><img src="../images/facebook.svg" alt=""></a></li>
    			<li><a href="https://twitter.com/gustavoquinalha" target="_blank"><img src="../images/twitter.svg" alt=""></a></li>
    		</ul>
      </div>
    </div>
  </div>
</div>

<div class="flex-container size ptopo lefc">
  <div class="ptopo1">
    <div class="alinha">
      <div class="sobre">
        "Sou desenvolvedor web desde moleque, sempre fui apaixonado por códigos e pela família Adobe! Atualmente trabalho em uma empresa de marketing digital e outra de estratégias visuais, desenvolvo web sites para ambas."
      </div>

      <div class="skills">
        <div class="exp-titulo">
          <div class="bcor">
            IDIOMAS
          </div>
        </div>
        <div class="xp">
          <div class="xpp">
            Português
          </div>
          <div class="xpp xppp">
            <ul>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
            </ul>
          </div>
        </div>
        <div class="xp">
          <div class="xpp">
            Inglês
          </div>
          <div class="xpp xppp">
            <ul>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bb.svg" alt=""></li>
              <li><img src="../images/bb.svg" alt=""></li>
            </ul>
          </div>
        </div>
        <div class="xp">
          <div class="xpp">
            Espanhol
          </div>
          <div class="xpp xppp">
            <ul>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bb.svg" alt=""></li>
              <li><img src="../images/bb.svg" alt=""></li>
              <li><img src="../images/bb.svg" alt=""></li>
              <li><img src="../images/bb.svg" alt=""></li>
              <li><img src="../images/bb.svg" alt=""></li>
            </ul>
          </div>
        </div>

      </div>


      <div class="skills">
        <div class="exp-titulo">
          <div class="bcor">
            HABILIDADES
          </div>
        </div>
        <div class="xp">
          <div class="xpp">
            HTML
          </div>
          <div class="xpp xppp">
            <ul>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
            </ul>
          </div>
        </div>
        <div class="xp">
          <div class="xpp">
            CSS
          </div>
          <div class="xpp xppp">
            <ul>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
            </ul>
          </div>
        </div>
        <div class="xp">
          <div class="xpp">
            Illustrator
          </div>
          <div class="xpp xppp">
            <ul>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
            </ul>
          </div>
        </div>
        <div class="xp">
          <div class="xpp">
            Photoshop
          </div>
          <div class="xpp xppp">
            <ul>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
            </ul>
          </div>
        </div>
        <div class="xp">
          <div class="xpp">
            jQuery
          </div>
          <div class="xpp xppp">
            <ul>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bb.svg" alt=""></li>
              <li><img src="../images/bb.svg" alt=""></li>
              <li><img src="../images/bb.svg" alt=""></li>
              <li><img src="../images/bb.svg" alt=""></li>
              <li><img src="../images/bb.svg" alt=""></li>
              <li><img src="../images/bb.svg" alt=""></li>
            </ul>
          </div>
        </div>
        <div class="xp">
          <div class="xpp">
            PHP
          </div>
          <div class="xpp xppp">
            <ul>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bb.svg" alt=""></li>
              <li><img src="../images/bb.svg" alt=""></li>
              <li><img src="../images/bb.svg" alt=""></li>
              <li><img src="../images/bb.svg" alt=""></li>
              <li><img src="../images/bb.svg" alt=""></li>
              <li><img src="../images/bb.svg" alt=""></li>
              <li><img src="../images/bb.svg" alt=""></li>
            </ul>
          </div>
        </div>
        <div class="xp">
          <div class="xpp">
            Angular
          </div>
          <div class="xpp xppp">
            <ul>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bb.svg" alt=""></li>
              <li><img src="../images/bb.svg" alt=""></li>
              <li><img src="../images/bb.svg" alt=""></li>
              <li><img src="../images/bb.svg" alt=""></li>
              <li><img src="../images/bb.svg" alt=""></li>
              <li><img src="../images/bb.svg" alt=""></li>
              <li><img src="../images/bb.svg" alt=""></li>
              <li><img src="../images/bb.svg" alt=""></li>
            </ul>
          </div>
        </div>
        <div class="xp">
          <div class="xpp">
            JS
          </div>
          <div class="xpp xppp">
            <ul>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bf.svg" alt=""></li>
              <li><img src="../images/bb.svg" alt=""></li>
              <li><img src="../images/bb.svg" alt=""></li>
              <li><img src="../images/bb.svg" alt=""></li>
              <li><img src="../images/bb.svg" alt=""></li>
              <li><img src="../images/bb.svg" alt=""></li>
              <li><img src="../images/bb.svg" alt=""></li>
              <li><img src="../images/bb.svg" alt=""></li>
              <li><img src="../images/bb.svg" alt=""></li>
            </ul>
          </div>
        </div>
      </div>

    <div class="nuvem">
      <span class="exe">HTML</span>
      <span class="exe">CSS</span>
      <span class="exe">Photoshop</span>
      <span class="exe">Illustrator</span>
      <span class="exe">UI/UX</span>
      <span class="exe">Responsividade</span>
      <span class="exe">SVG</span>
      <span class="me">Angular</span>
      <span class="me">API</span>
      <span class="me">SQL</span>
      <span class="me">SASS</span>
      <span class="po">React</span>
      <span class="po">NODE</span>
    </div>

</div>
</div>
  <div class="ptopo1 ptopo2">
    <div class="exp">
      <div class="exp-titulo">
        <div class="bcor">
          EXPERIÊCIA
        </div>
      </div>
      <div class="exp-cont">
        <div class="exp-cont-titulo">
          Freelancer <data>2015-2016</data>
          <span>Web designer e Illustrador</span>
        </div>
        <p>Atualmente estou fazendo freelance em Londres e alguns serviços para o Brasil.</p>
      </div>

      <div class="exp-cont">
        <div class="exp-cont-titulo">
          Beeuz <data>2015-2016</data>
          <span>Web designer</span>
        </div>
        <p>Tratamento de imagens, criação de conteúdo para todos as redes socias, criação de marca, illustração, desenvolvimento de web sites e wordpress.</p>
      </div>

      <div class="exp-cont">
        <div class="exp-cont-titulo">
          Web Space <data>2015-2016</data>
          <span>Web designer</span>
        </div>
        <p>Criação de todo conteúdo de inbound marketing, redes socias, web sites, wordpress, ecommerce e sistemas em PHP e JS.</p>
      </div>

    </div>


    <div class="exp">
      <div class="exp-titulo">
        <div class="bcor">
          EDUCAÇÃO
        </div>
      </div>
      <div class="exp-cont">
        <div class="exp-cont-titulo">
          Unicesumar<data>2015-2016</data>
          <span>Análise e desenvolvimento de sistemas </span>
        </div>
        <p>Faculdade trancada no 2 ano</p>
      </div>

      <div class="exp-cont">
        <div class="exp-cont-titulo">
          Curso de inglês <data>2015-2016</data>
          <span>CCLS</span>
        </div>
        <p>
          3 meses de aula e mais 5 meses de experiência em Londres.</p>
      </div>

    </div>
    <div class="exp">
      <div class="exp-titulo">
        <div class="bcor">
          PREMIAÇÕES
        </div>
      </div>
      <div class="exp-cont">
        <div class="exp-cont-titulo">
          HACKATHOOM UNICESUMAR <data>2015-2016</data>
          <span>2 Lugar com o projeto AgroProgress</span>
        </div>
        <p>API de hortaliças e frutas com todas as informações possíveis.</p>
      </div>
    </div>


    <div class="exp">
      <div class="exp-titulo">
        <div class="bcor">
          LINKS
        </div>
      </div>
      <div class="projetos">
        <div class="proj">
          <div class="proj-img">
          </div>
          <div class="proj-nome">
            APP SOS ANIMAL<br>
            <span><a href="#">www.github.com/appsosanimal</a></span>
          </div>
        </div>

        <div class="proj">
          <div class="proj-img">
          </div>
          <div class="proj-nome">
            APP SOS ANIMAL<br>
            <span><a href="#">www.github.com/appsosanimal</a></span>
          </div>
        </div>

        <div class="proj">
          <div class="proj-img">
          </div>
          <div class="proj-nome">
            APP SOS ANIMAL<br>
            <span><a href="#">www.github.com/appsosanimal</a></span>
          </div>
        </div>

        <div class="proj">
          <div class="proj-img">
          </div>
          <div class="proj-nome">
            APP SOS ANIMAL<br>
            <span><a href="#">www.github.com/appsosanimal</a></span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
