  <div class="menu-rel">
    <form>
    <div class="menu">
     <div class="menu-hamburguer">
       <input type="checkbox" value="selected" id="menu-hamburguer" class="menu-input">
       <label for="menu-hamburguer" class="menu-label">
         <img src="../images/menu.svg" alt="" class="menusvg">
       </label>
       <div role="menu" id="menuid" class="menu-content">
        <div class="menu-list">
         <div class="menu-list-item fechar-lado">
          <button class="fechar" type="reset">
            X
          </button>
        </div>
        <div class="menu-list-item">
          <a href="#">
            <a href="{{ page.url | prepend: site.baseurl }}">Home</a><br><br>
            {% for page in site.pages %}
            {% if page.title == "Meu currículo" %}
            <a href="{{ page.url | prepend: site.baseurl }}" class="curri">{{ page.title }}</a>
            {% else %}
            <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a><br>
            {% endif %}
            {% endfor %}
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-logo">
    <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo.svg" class="classe-logo hello"></a>
    <!--<a href="{{ site.baseurl }}/">gustavoquinalha.com</a>-->
  </div>

  <div class="menu-principal">
    <ul>
      <li><a href="{{ site.baseurl }}/">Home</a></li>
     <li><a href="javascript:void(0);">
       {% for page in site.pages %}
       {% if page.title == "Meu currículo" %}
       <a href="{{ page.url | prepend: site.baseurl }}" class="curri">{{ page.title }}</a>
       {% else %}
       <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
       {% endif %}
       {% endfor %}
    </a></li>
  </ul>
</div>


</div>
</form>
</div>
