<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="googlebot" content="noodp" />
  <meta name="googlebot-news" content="nosnippet">
  <meta name="robots" content="index, follow" />
  <meta name="copyright" content="Copyright &copy; Gustavo Quinalha. Todos os direitos reservados." />

  <meta property="og:image" content="https://gustavoquinalha.com/images/mor.jpg" />
  <meta property="og:title" content="Portfólio Gustavo Quinalha" />
  <meta property="og:url" content="https://gustavoquinalha.com/" />
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Portfólio Gustavo Quinalha">
  <meta property="og:description" content="Gustavo Quinalha - Web Developer & Designer Gráfico. Confira todos os meus trabalhos." />

  <meta name="description" content="Gustavo Quinalha - Web Developer & Designer Gráfico. Confira todos os meus trabalhos">
  <meta name="author" content="Gustavo Quinalha">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600">
  <link rel="stylesheet" href={{ "/css/ghq.css" | prepend: site.baseurl }}>


</head>
