<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600">
  <link rel="stylesheet" href={{ "/css/ghq.css" | prepend: site.baseurl }}>

  <!-- Open Graph data -->
  <meta property="og:title" content="Portfólio Gustavo Quinalha" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://gustavoquinalha.com/" />
  <meta property="og:image" content="http://gustavoquinalha.com/images/mor.jpg" />
  <meta property="og:description" content="Gustavo Quinalha - Web Developer e Designer Gráfico. Confira todos os meus trabalhos." />
  <meta property="og:site_name" content="Gustavo Quinalha" />
  <meta property="fb:admins" content="100002787447461" />

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@gustavoquinalha">
  <meta name="twitter:title" content="Portfólio Gustavo Quinalha">
  <meta name="twitter:description" content="Gustavo Quinalha - Web Developer e Designer Gráfico. Confira todos os meus trabalhos.">
  <meta name="twitter:creator" content="@gustavoquinalha">
  <-- Twitter Summary card images must be at least 120x120px -->
  <meta name="twitter:image" content="http://gustavoquinalha.com/images/logo.png">

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="Portfólio Gustavo Quinalha">
  <meta itemprop="description" content="Gustavo Quinalha - Web Developer e Designer Gráfico. Confira todos os meus trabalhos.">
  <meta itemprop="image" content="http://gustavoquinalha.com/images/mor.jpg">




</head>
