<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600">
  <link rel="stylesheet" href={{ "/css/ghq.css" | prepend: site.baseurl }}>

  	<meta property="og:url"           content="http://gustavoquinalha.com/" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="Portfólio Gustavo Quinalha" />
	<meta property="og:description"   content="Gustavo Quinalha - Web Developer e Designer Gráfico. Confira todos os meus trabalhos" />
	<meta property="og:image"         content="http://gustavoquinalha.com/images/mor.jpg" />

</head>
